<h1>New speaker</h1>

<% form_for(@speaker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :blanket %><br />
    <%= f.check_box :blanket %>
  </p>
  <p>
    <%= f.label :blanket_start %><br />
    <%= f.datetime_select :blanket_start %>
  </p>
  <p>
    <%= f.label :blanket_end %><br />
    <%= f.datetime_select :blanket_end %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', speakers_path %>
